
CotecnaApi/.vs/CotecnaApi/v16/.suo
CotecnaApi/.vs/CotecnaApi/v16/Server/sqlite3/db.lock
CotecnaApi/.vs/CotecnaApi/v16/Server/sqlite3/storage.ide
CotecnaApi/.vs/CotecnaApi/v16/Server/sqlite3/storage.ide-shm
CotecnaApi/.vs/CotecnaApi/v16/Server/sqlite3/storage.ide-wal
