<div class="filter">
    <div class="filter">
        <app-year-list (change)="onYearChange($event)"></app-year-list>
    </div>
    <div class="filter">
        <app-month-list (change)="onMonthChange($event)"></app-month-list>
    </div>
</div>
<div class='flex-container flex-center'>
    <div id='calendar-container' class='flex-container flex-column'>
     
        <div class="height-20px"></div>
          <div>{{date.format('MMMM ')}} {{date.format('YYYY ')}}</div>
        
        <div class='height-20px '></div>
        <div class='flex-container '>
            <div class='calendar-days-header flex-container flex-center '>Sun</div>
            <div class='calendar-days-header flex-container flex-center '>Mon</div>
            <div class='calendar-days-header flex-container flex-center '>Tue</div>
            <div class='calendar-days-header flex-container flex-center '>Wen</div>
            <div class='calendar-days-header flex-container flex-center '>Thu</div>
            <div class='calendar-days-header flex-container flex-center '>Fri</div>
            <div class='calendar-days-header flex-container flex-center '>Sat</div>
        </div>
       
        <div class='flex-container flex-wrap '>
            <div *ngFor="let day of daysArr">
                <div class='calendar-days flex-container flex-center '  [ngClass]="{'inactive ': !isThisMonth(day) , 'today': todayCheck(day)}">
                    {{day?.date()}}
                    
                    <appcalendarday [selected-day] = "day"></appcalendarday>
                </div>
            </div>
        </div>
    </div>
</div>
